#log-in {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons {
  margin: 15px;
  background-color: darkslategrey;
  color: aliceblue;
  border: 1px solid darkslategrey;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  font: 400 13.3333px Arial;
}

.product-box {
  border: 1px solid grey;
  margin: 5px;
}

#login-buttons {
  display: flex;
  justify-content: space-around;
}

#input-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
